<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SwsimV111Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="SwsimV111Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://swsim.testing.stamps.com/swsim/swsimv111.asmx"
                binding="basicHttpBinding" bindingConfiguration="SwsimV111Soap"
                contract="Services.SwsimV111Soap" name="SwsimV111Soap" />
        </client>
    </system.serviceModel>
</configuration>