<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SwsimV71Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="SwsimV71Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://swsim.testing.stamps.com/swsim/swsimv71.asmx"
                binding="basicHttpBinding" bindingConfiguration="SwsimV71Soap"
                contract="Services.SwsimV71Soap" name="SwsimV71Soap" />
        </client>
    </system.serviceModel>
</configuration>